body {
  background-color: #2e2c30;
  font-family: helvetica;
  color: #eaeaea;
  margin: 50px auto;
}

#div1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  margin: auto auto;
  padding: 50px;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  box-shadow: #d0b9b91e 0px 0px 25px;
}
#PlyerDiv {
  margin: 50px;
  border-radius: 20px;
  padding: 30px;
  text-align: left;
  background-color: #38353a;
  transition: box-shadow 0.3s ease-in-out;
}
#PlyerDiv:hover {
  box-shadow: #ff000442 0px 0px 25px;
  cursor: crosshair;
}

#Title {
  font-size: 2em;
  margin-bottom: 20px;
  background: linear-gradient(to right, #e3474a, #d0b9b9);
  -webkit-background-clip: text;
  color: transparent;
  background-size: 200% 100%;
  padding-bottom: 60px;
  animation: gradient 2s ease-in-out infinite alternate,
    glow 2s ease-in-out infinite alternate;
}

.btn {
  font-weight: bold;
  margin: 20px auto;
  padding: 15px 25px;
  border-radius: 7px;
  align-items: center;
  font-size: 1.1em;
  background-color: #e3474a;
  color: #d8d5d5;
  display: block;
  cursor: pointer;
  border: none;
  box-shadow: #ff0004 0px 0px 15px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out,
    padding 0.3s ease-in-out, font-size 0.4s ease-in-out;
  cursor: pointer;
}

.btn:hover {
  background-color: #d8d5d5;
  color: #e3474a;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 1.3em;
  text-shadow: 0 0 10px #ff0004;
  animation: glow 0.3s ease-in-out infinite alternate;
}

#ButtonDiv {
  margin: 50px;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: -100% 50%;
  }
}

@keyframes glow {
  0% {
    text-shadow: 0 0 30px #e3474a;
  }
  100% {
    text-shadow: 0 0 15px #e3474a;
  }
}

#PlyerDiv {
  font-size: 20px;
  margin: 20px auto;
}
