#Generator {
  text-align: center;
}
#MyLabel {
  font-family: verdana;
  font-size: 3em;
  font-weight: bold;
  color: #ff0000;
}
#MyBtn {
  align-items: center;
}
#MyBtn :hover {
  font-size: 1.5em;
}
#MyBtn :active {
  font-size: 1.5em;
}
